SUCCESS!
<br/>
You just bought : <%= @order.cart.line_items.first.product.name %> <br/>
Total Amount Charged : <%= @order.details['order_total'] %><br/>

Confirmation email has been sent to : <%= @order.details['payer'] %>. <br/>
Please add notifications@example.com to your spam filter to avoid the confirmation email from being blocked.